<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head('Painel Administrativo')">
    </head>
    <body>
        <nav class="grey darken-1">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Contracheque</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="home">Home</a></li>
                    <li><a href="admin">Importar Arquivo</a></li>
                    <li><a href="logout">Sair</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Carregar Arquivo</h1>
            <div th:if="${msg}">
                <div th:text="${msg}"></div>
            </div>
            <form th:action="@{/admin}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                <label class="col-lg-1 control-label">Arquivo</label>
                <div class="col-lg-4">
                    <input class="form-control" type="file" name="file"/>
                </div>
                <div class="col s3 m3 offset-m2">
                    <select class="browser-default" name="ano">
                        <option value="" th:disabled="disabled" th:selected="selected">Escolha o ano</option>
                        <option value="1">2016</option>
                        <option value="2">2015</option>
                    </select>
                </div>

                <div class="col s3 m3 offset-m0">
                    <select class="browser-default" name="mes">
                        <option value="" th:disabled="disabled" th:selected="selected">Escolha mês</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="waves-effect waves-light btn" type="submit" value="Importar Arquivo"/>
                </div>
            </form>
        </div>
    </body>
</html>
