<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head('Painel Administrativo')">

    </head>
    <body class="grey lighten-4">
        <div th:replace="fragments :: menu"></div>
        <div th:replace="fragments :: menu-admin"></div>
        <div class="row">
            <div class="col s8 offset-s2">
                <br/>
                <br/>
                <br/>
                <h4>Importação de Contracheque</h4>
                <div th:if="${msg}">
                    <div th:text="${msg}"></div>
                </div>
                <form th:action="@{/admin}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    <label>Selecione o arquivo a ser importado</label>
                    <div class="file-field input-field">
                        <div class="btn orange accent-3">
                            <span>Arquivo</span>
                            <input type="file" name="file"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"/>
                        </div>
                    </div>


                    <div class="input-field col s12 m6">
                        <select name="mes">
                            <option th:each="mes : ${meses}" th:text="${mes}" th:value="${mes}"></option>
                        </select>
                        <label>Selecione o mês de importação</label>
                    </div>
                    <div class="input-field col s12 m6">

                        <select name="ano">
                            <option th:each="ano : ${anos}" th:text="${ano}" th:value="${ano}"></option>
                        </select>
                        <label>Selecione o ano de importação</label>
                    </div>

                    <div class="form-group">
                        <input class="waves-effect waves-light btn orange accent-3" type="submit" value="Importar Arquivo"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax grey lighten-4"></div>
        </div>
        <footer th:replace="fragments :: footer">
        </footer>
    </body>
</html>
