<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head('Painel Administrativo')">
         
    </head>
    <body>
        
         <nav class="grey darken-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><img src="logo-ho-sem.png" alt="logo-cwi" width="250px"/></a>
                <ul class="right hide-on-med-and-down">
                    <li><i class="material-icons left">supervisor_account</i>Mateus Bueno dos Passos Teixeira</li>
                    <li><a class="waves-effect waves-light btn orange accent-3 lighten-4 white-text ">Relatório</a></li>
                    <li><a class="waves-effect waves-light btn orange accent-3 lighten-4 white-text ">Importar</a></li>
                    <li><a class="waves-effect waves-light btn orange accent-3 lighten-4 white-text ">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1>Carregar Arquivo</h1>
            <div th:if="${msg}">
                <div th:text="${msg}"></div>
            </div>
            <form th:action="@{/admin}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                <label class="col-lg-1 control-label">Arquivo</label>
                <div class="col-lg-4">
                    <input class="form-control" type="file" name="file"/>
                </div>
           
                <label class="col-lg-1 control-label">Anos</label>
                <div>
                    <select name="mes" class="browser-default">
                        <option th:each="mes : ${meses}" th:text="${mes}" th:value="${mes}"></option>
                    </select>
                </div>
                <div>
                    <select name="ano" class="browser-default">
                        <option th:each="ano : ${anos}" th:text="${ano}" th:value="${ano}"></option>
                    </select>
                </div>
                
                <div class="form-group">
                    <input class="waves-effect waves-light btn orange accent-3" type="submit" value="Importar Arquivo"/>
                </div>
            </form>
        </div>
    </body>
</html>
