<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="grey lighten-3">
        
        <nav class="grey darken-1">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Contracheque</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="home">Home</a></li>
                <li><a href="admin">Importar Arquivo</a></li>
                <li><a href="logout">Sair</a></li>
              </ul>
            </div>
        </nav>
        
        <div class="container">
            
        <table class="centered">
        <thead>
          <tr>
              <th><h5>Total Descontos</h5></th>
              <th><h5>Total Benefícios</h5></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>13.498,36</td>
            <td>11.658,41</td>
          </tr>
        </tbody>
      </table>
            
        </div>
    </body>
</html>
