<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head('Login')"></head>


    <body class="grey lighten-4">
        <div class="container">


            <div class="row">

                <div class=" grid col s12 m8 offset-m2">
                    <br/>
                    <br/>
                    <div class="center">
                        <img src="http://i.imgur.com/92ei8XC.png" width="450px" alt="CWI"/>
                    </div>
                    <br/>
                    <br/>
                    <div class="white">
                        <div class="z-depth-5">
                            <div class="container" style="padding:10px;">
                                <div class="center">
                                    <form id="form-autenticacao" th:action="${formAction}" method="POST" class="form-horizontal">
                                        <div class="row">
                                            <div class="col s12">

                                                <div class="form-group">
                                                    <label class="col-lg-1 control-label" style="font-size:15pt;">Usuário</label>
                                                    <div class="col-lg-4">
                                                        <input class="form-control" type="email" name="username"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="form-group">
                                                    <label class="col-lg-1 control-label" style="font-size:15pt;" >Senha</label>
                                                    <div class="col-lg-4">
                                                        <input class="form-control" type="password" name="password"/> 
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>  
                                        <div class="alert alert-danger" th:if="${autenticacaoExtra}">
                                            <label class="col-lg-1 control-label" style="font-size:15pt;">Data de nascimento</label>
                                            <div class="col-lg-4">
                                                <input class="datepicker" type="date" name="data"/> 
                                            </div>
                                        </div>
                                        <div th:if="${!autenticacaoExtra}">
                                            <input class="btn orange accent-3" type="submit" value="Entrar"/>
                                        </div>

                                        <div th:if="${autenticacaoExtra}">
                                            <input id="btn-validar-nascimento" class="btn orange accent-3" type="button" value="Entrar"/>
                                        </div>
                                    </form>
                                </div>  
                            </div>
                        </div>    
                    </div>       
                </div>
            </div>    
        </div>

        <div class="parallax-container">
            <div class="parallax grey lighten-4"></div>
        </div>

        <div th:replace="fragments :: footer">
        </div>
    </body>
</html>

