<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head('User')">
    </head>
    <body class="grey lighten-3">
        
        <nav class="grey darken-1">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Contracheque</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="home">Home</a></li>
                <li><a href="">ContraCheques</a></li>
                <li><a href="logout">Sair</a></li>
              </ul>
            </div>
        </nav>
        
        <div class="container">

            <div class="topo">
                <div id="topo-esquerda">
                    <img src="../static/js/logo-cwi.jpg" alt="Logo" width="355px" height="90px"/>
                </div>

                <div id="topo-direita">
                     <div><h5>Recibo de Pagamento de Salário</h5></div>
                    <div>CRÉDITO EM CONTA: <label>04/07/14</label></div>
                </div>

            </div>
        </div>

        <div class="container">

            <div id="contra">
                <div class="table" id="um">
                    <div id="titulo">Código</div>
                    <div>65588</div>
                </div>

               <div class="table" id="dois">
                 <div id="titulo">Nome Funcionário</div>
                   <div>Maria Helena da Silva</div>
               </div>

               <div class="table" id="tres">
                 <div id="titulo">Centro de Custo</div>
                   <div>ADMINISTRAÇÃO CWI</div>
               </div>

               <div class="table" id="quatro">
                 <div id="titulo">Data Admissão</div>
                   <div>15/06/2015</div>
               </div>
               <div class="table" id="cinco">
                 <div id="titulo">Conta Pagamento</div>
                   <div>BANCO DO BRASIL AG:1234-5 CC: 65432-1</div>
               </div>


               <div class="table-sem-borda" id="um">
                   <div id="titulo"><b>Código</b></div>
               </div>

               <div class="table-sem-borda" id="dois">
                 <div id="titulo"><b>Funcionário</b></div>
               </div>

               <div class="table-sem-borda" id="tres">
                 <div id="titulo"><b>Centro de Custo</b></div>

               </div>

               <div class="table-sem-borda" id="quatro">
                 <div id="titulo"><b>Data Admissão</b></div>
               </div>

               <div class="table-sem-borda" id="cinco">
                 <div id="titulo"><b>Conta Pagamento</b></div>
               </div>


           <div id="borda-fora">
               <div class="">

               <div class="floa-left" id="um">
                   <div id="titulo"><b>301</b></div>
               </div>

               <div class="floa-left"  id="dois">
                 <div id="titulo"><b>SALARIO MENSALISTA</b></div>
               </div>

               <div class="floa-left"  id="tres">
                 <div id="titulo"><b>125,00</b></div>

               </div>

               <div class="floa-left"  id="quatro">
                 <div id="titulo"><b>850,00</b></div>
               </div>

               <div class="floa-left"  id="cinco">
                 <div id="titulo"><b>-----</b></div>
               </div>

               </div>

               <div class="">

               <div class="floa-left" id="um">
                   <div id="titulo"><b>301</b></div>
               </div>

               <div class="floa-left"  id="dois">
                 <div id="titulo"><b>SALARIO MENSALISTA</b></div>
               </div>

               <div class="floa-left"  id="tres">
                 <div id="titulo"><b>125,00</b></div>

               </div>

               <div class="floa-left"  id="quatro">
                 <div id="titulo"><b>850,00</b></div>
               </div>

               <div class="floa-left"  id="cinco">
                 <div id="titulo"><b>-----</b></div>
               </div>

               </div>


               <div class="">

               <div class="floa-left" id="um">
                   <div id="titulo"><b>301</b></div>
               </div>

               <div class="floa-left"  id="dois">
                 <div id="titulo"><b>SALARIO MENSALISTA</b></div>
               </div>

               <div class="floa-left"  id="tres">
                 <div id="titulo"><b>125,00</b></div>

               </div>

               <div class="floa-left"  id="quatro">
                 <div id="titulo"><b>850,00</b></div>
               </div>

               <div class="floa-left"  id="cinco">
                 <div id="titulo"><b>-----</b></div>
               </div>

               </div>


               <div class="">

               <div class="floa-left" id="um">
                   <div id="titulo"><b>301</b></div>
               </div>

               <div class="floa-left"  id="dois">
                 <div id="titulo"><b>SALARIO MENSALISTA</b></div>
               </div>

               <div class="floa-left"  id="tres">
                 <div id="titulo"><b>125,00</b></div>

               </div>

               <div class="floa-left"  id="quatro">
                 <div id="titulo"><b>850,00</b></div>
               </div>

               <div class="floa-left"  id="cinco">
                 <div id="titulo"><b>-----</b></div>
               </div>

               </div>

               <div class="">

               <div class="floa-left" id="um">
                   <div id="titulo"><b>301</b></div>
               </div>

               <div class="floa-left"  id="dois">
                 <div id="titulo"><b>SALARIO MENSALISTA</b></div>
               </div>

               <div class="floa-left"  id="tres">
                 <div id="titulo"><b>125,00</b></div>

               </div>

               <div class="floa-left"  id="quatro">
                 <div id="titulo"><b>850,00</b></div>
               </div>

               <div class="floa-left"  id="cinco">
                 <div id="titulo"><b>-----</b></div>
               </div>

               </div>

               <div class="">

               <div class="floa-left" id="um">
                   <div id="titulo"><b>301</b></div>
               </div>

               <div class="floa-left"  id="dois">
                 <div id="titulo"><b>SALARIO MENSALISTA</b></div>
               </div>

               <div class="floa-left"  id="tres">
                 <div id="titulo"><b>125,00</b></div>

               </div>

               <div class="floa-left"  id="quatro">
                 <div id="titulo"><b>850,00</b></div>
               </div>

               <div class="floa-left"  id="cinco">
                 <div id="titulo"><b>-----</b></div>
               </div>

               </div>

           </div>

           <div class="table" id="seis">
                   <div id="titulo">Total de Proventos</div>
                   <div class="total"><h6>932,25</h6></div>
               </div>

               <div class="table" id="sete">
                 <div id="titulo">Total de Descontos</div>
                   <div class="total"><h6>498,69</h6></div>
               </div>

               <div class="table" id="oito">
                 <div id="titulo">Valor Líquido</div>
                   <div class="total"><h6>433,58</h6></div>
               </div>


               <div class="table" id="nove">
                   <div id="titulo">Salário Base</div>
                   <div class="total"><h6>850,00</h6></div>
               </div>

               <div class="table" id="dez">
                 <div id="titulo">Salário contrib INSS</div>
                   <div class="total"><h6>932,27</h6></div>
               </div>

               <div class="table" id="onze">
                 <div id="titulo">Base FGTS</div>
                   <div class="total"><h6>932,27</h6></div>
               </div>

               <div class="table" id="doze">
                 <div id="titulo">Valor FGTS</div>
                   <div class="total"><h6>74,58</h6></div>
               </div>

               <div class="table" id="treze">
                 <div id="titulo">Cálculo base IRRF</div>
                   <div class="total"><h6>677,98</h6></div>
               </div>

         </div>
</div>
        
        
        
        
    </body>
</html>
